/* ==UserStyle==
@name           Pink and Purple [Threads]
@namespace      https://userstyles.world/style/13152/pink-and-purple-threads
@version        0.2.0
@description    A pink and purple theme, best used in Threads's light mode!
@author         Bailey Lockheart
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,700;1,500&family=Alegreya:ital,wght@0,500;0,700;1,500&display=swap');
@-moz-document domain("threads.net") {
:root{
  --primary-text: #47324A;
  --barcelona-primary-text: #47324A;
  --barcelona-secondary-text: #69496E;
  --barcelona-primary-button: #935ADB;
  --barcelona-primary-button-text: #F7EBF7;
  --barcelona-secondary-button: #935ADB;
  --barcelona-primary-icon: #47324A;
  --barcelona-secondary-icon: #47324A;
  --barcelona-navigation-icon:#47324A;
  --barcelona-primary-background: #F7EBF7;
  --barcelona-elevated-background: #FBC9FF;
  --barcelona-secondary-background: #FBC9FF;
  --barcelona-tertiary-background: #FBC9FF;
  --barcelona-header-background: #FBC9FF;
  --barcelona-primary-button-background: #935ADB;
  --barcelona-navigation-item-hover-background: #FBC9FF;
  --barcelona-primary-outline: #47324A;
  --barcelona-threadline: #47324A;
  --barcelona-menu-outline: #47324A;
  --activity-icon-background-repost:#F7EBF7
}
html, .x1vfo065,.xfex06f, .xng8ra, .x1t2pt76,.xgzc8be.x1iorvi4, .x1iorvi4 .x8xoigl {
    /*background*/
    background-color: #f7ebf7
}
.xgzc8be, .x78zum5.x1t2pt76 .x78zum5.xng8ra,.x78zum5.x1t2pt76 .xfex06f.xl56j7k,.x78zum5.x1t2pt76 .xng8ra.x1ggkfyp {
    /*posts*/
    background-color: #f7ebf7
}
.x6vvqcq{ 
    /*Elevated top*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FBC9FF
}
.x1p5oq8j.xwxc41k {
    /*Elevated bottom*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FBC9FF
}
.x1l34066 {
    /*Adjust for scrollbar*/
    margin-top: 11px;
}
.x1n2onr6.x1cp7mul, .x1dz1jew, .x1iyjqo2.x1al4vs7 .xdt5ytf.x1iyjqo2, .x18d9i69.xbbxn1n, .x1al4vs7 > div > div > .x78zum5{
   /*Color space from adjustment*/
    background-color:#FBC9FF
}
.xyamay9.x1i10hfl,.xbjhxfr,.xe9vn5y, .x1dc2ync > div, .xewm4ob > div {
    /*Popups*/
    border-radius: 15px;
    background-color: #F7EBF7;
}
.xkbb5z .x168nmei, .x13jxccy, .x12rz0ws > div{
    /*Embeds*/
    background-color: #F7EBF7;
}
.x1s688f.x1yc453h,.xurb0ha .x3x7a5m,.x13faqbe, .xwhw2v2, .xp07o12 .xuxw1ft{
    /*Text*/
    font-family:"Alegreya Sans", sans-serif;
    color:#47324A;
}
.xexx8yu .xt0b8zv .xp07o12, .xp07o12.x1yc453h, .xp07o12.x3x7a5m, .xt8cgyo .xcrlgei .x1s688f {
    /*Headers*/
    font-family:"Alegreya", serif;
}
.xt0psk2.x1s688f,.x14beivq .xt0b8zv,.xt8cgyo .x1w4el19, .xzlwxrv span, .xexx8yu .xdj266r .x1i10hfl, .x1xlr1w8.x1tu3fi, .xw7yly9 .xt0b8zv, .x10wlt62 .xt0b8zv, .x889kno .xt0b8zv, .xsag5q8 .x1w4el19{
    /*Links*/
    color:#935ADB
}
.notranslate,.x1mh8g0r,.x1gaogpn,.x1yztbdb .x1xlr1w8,.x1h08jmb .xo1l8bm,.x1sqbtui .xpvyfi4 .x2b8uid, .xkbb5z .xuxw1ft,.x37wo2f .x3x7a5m, .x12rw4y6.x1yc453h .x10wlt62, .xhrpt6u, .xjohtrz.x12rw4y6 .xuxw1ft{
    /*Secondary text*/
    font-family:"Alegreya Sans", sans-serif;
    color:#69496E
}
.x1pi30zi.xlyipyv, .x1sy10c2 .xlyipyv, .x14ctfv.x2b8uid, .xp07o12.x150jy0e .xlyipyv, .x14nwr7f .xlyipyv{
    /*Button text*/
    color:#F7EBF7
}
.x1pdlv7q, .x19kf12q {
    /*Button BG*/
    background-color: #935ADB;
}
.x18amsl7 {
    /*Cancel button size*/
    padding:10px;
    border-radius:20px
}
.x1hvtcl2.x1pi30zi .xu0ddkp .xlyipyv, .x150jy0e .xlyipyv{
    /*Following button text*/
    color:#FBC9FF
}
.xz4gly6.xk4oym4 {
    /*threads.net button*/
    background-color: #FBC9FF;
}
.x1skdhkn .x90nhty, .x13meejv .x90nhty {
    /*Photo arrows*/
    background-color:#F7EBF7
}
.x1vjfegm .x1yxark7 path {
    /*Icons*/
    color: #47324A
}
.x10b6aqq path, .xn6708d.x1n2onr6 path {
    /*Thread line*/
    color: #47324A
}
.x1sy10c2,.xkbb5z .x14vqqas{
    /*Outline Quotes*/
    border:solid #47324A 1px;
}
.x1nqlsw6 {
    /*Poll unfilled area*/
    background-color: #F7EBF7
}
.x3m791j {
    /*Poll filled area (loser)*/
    background-color: #FBC9FF
}
.x78fzze{
    /*Poll filled area (winner)*/
    background-color: #FDDAFF
}
.x1xmf6yo .xy80clv, .xy80clv.x13vifvy {
    /*Poll border*/
    border:solid 1.5px #47324A;
}
.x1lcra6a,.x14yjl9h.xz401s1, .xurb0ha .xvy4d1p, .x78zum5.xng8ra .xvy4d1p, .x120sd54,.xng8ra,.x1691je0{
    /*sidebar*/
    background-color:#FBC9FF
    }    
}
