/* ==UserStyle==
@name           Pink and Black [Tumblr] [Tweaked]
@namespace      https://userstyles.world/style/13465/pink-and-black-tumblr-tweaked
@version        1.1.0
@description    A fork of "pink and black tumblr" by lesbianism!
@author         Bailey Lockheart
==/UserStyle== */

@-moz-document domain("tumblr.com") {
:root {
  --accent: 245, 206, 228;
  --secondary-accent: 64, 50, 53;
  --navy: 06, 06, 06;
  --white: 26, 20, 21;
  --black: 241, 173, 202;
  --white-on-dark: 245, 206, 228;
  --red: 241, 173, 202;
  --orange: 241, 173, 202;
  --yellow:241, 173, 202;
  --green: 241, 173, 202;
  --blue: 241, 173, 202;
  --purple: 241, 173, 202;
  --pink: 241, 173, 202;
  --follow: 245, 206, 228;
}

body, html {
  scrollbar-width: auto;
  scrollbar-color: rgb(237, 192, 216) rgb(6, 6, 6);
}
::selection {
  background: rgb(241, 173, 202);
  color:white
}
.sdOCZ, .YSVS3, ._qHCt, .fo_cP, .ovT1K, .f_zsT, .W9GZw .TRX6J, .iGLU3, .MV1bs .OpUw8, .j1I7U, .PmamQ .TRX6J, .YkQj_, .ZyGTE, .Qj_pr, .PwJi6, .I_SFh, .hF8Wr{
  display: none
}
.I6Lwl, .HOjIH, div.FZkjV:nth-of-type(4), li.g8SYn.IYrO9:nth-of-type(3), li.g8SYn.IYrO9:nth-of-type(4), li.g8SYn.IYrO9:nth-of-type(8), span.ZQMrc:nth-of-type(3), li.jk3gM:nth-of-type(7){
  display:none
}
.lSyOz p{
  font-size: large
}

@media (max-width: 1090px){
  .pIHsl{
    display:none
  }
  .lSyOz {
    margin-left:12vw;
  }
  .Q05ZE {
    margin-left: -5vw
  }
}
}
